# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Coverage
coverage/

# Temporary files
temp/
tmp/

# Build files (agar use ho)
dist/
build/

# Uploaded files (agar local uploads store karte ho)
uploads/